

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ----------- Navbar color -------------- */

.navbar-default {
  background-color: #ffffff;
  border-color: #cbcbcb;
}
.navbar-default .navbar-brand {
  color: #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #4e4e4e;
}
.navbar-default .navbar-text {
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4e4e4e;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4e4e4e;
  background-color: #cbcbcb;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #4e4e4e;
  background-color: #cbcbcb;
}
.navbar-default .navbar-toggle {
  border-color: #cbcbcb;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #cbcbcb;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #000000;
}
.navbar-default .navbar-link {
  color: #000000;
}
.navbar-default .navbar-link:hover {
  color: #4e4e4e;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #4e4e4e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #4e4e4e;
    background-color: #cbcbcb;
  }
}

/* -------------------------------------------------- */

.navbar-nav {
	padding-right: 10px;
}

/* -------- Home -------- */

.jumbotron {
	background-image: url("../imgs/home.png");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	background-color: white;
}

#home {
	margin-top: 50px;
	padding-left: 85px;
	padding-right: 85px;
	color: white;
	font-family: times;
}

#home > img {
	width: 320px;
	height: 250px;
}

#name {
	font-size: 45px;
}

#nickname {
	font-size: 45px;
	font-weight: bold;
}









@media screen and (max-width: 568px) {
	#name, #nickname {
		font-size: 25px;
	}

	#home > img {
		width: 120px;
		height: 50px;
	}
}