

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
	font-family: "Roboto-thin";
	src: url("../fonts/Roboto-Thin.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto-light";
	src: url("../fonts/Roboto-Light.ttf") format("truetype");
}

@font-face {
	font-family: "Kiye-sans";
	src: url("../fonts/Kiye-Sans.ttf") format("truetype");
}

@font-face {
	font-family: "Sansation";
	src: url("../fonts/Sansation_Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Lemon Milk";
	src: url("../fonts/LemonMilk.otf") format("truetype");
}

p#subtitle {
	font-family: "Kiye-Sans", times;
}

p.text {
	font-family: "Sansation", times;
}

.navbar-nav {
	padding-right: 10px;
}

.title {
	font-family: "Lemon Milk", times;
}

/* -------- Home -------- */

.jumbotron {
	background-image: url("../imgs/home.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	background-color: white;
}

#home {
	margin-top: 50px;
	padding-left: 85px;
	padding-right: 85px;
	color: white;
	font-family: times;
}

#home > img {
	width: 320px;
	height: 250px;
}

#name {
	font-family: "Roboto-thin", times;
	font-size: 45px;
}

#nickname {
	font-family: "Roboto-light", times;
	font-size: 45px;
}

/* --------------------------------------------- */

/* ------------ About me ----------------------- */

#avatar {
	width: 250px;
	height: 250px;
	border-radius: 50px;
}

/* --------------------------------------------- */

/* -------------- Experience ------------------- */

#experience {
	background-image: url("../imgs/experience.jpg");
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100vh;
	background-color: white;
}

.exptext {
	color: white;
}

/* --------------------------------------------- */

@media screen and (max-width: 568px) {
	#name, #nickname {
		font-size: 35px;
	}

	#home > img {
		width: 200px;
		height: 170px;
	}

	#home > p {
		font-size: 15px;
	}

	#avatar {
		margin-left: auto;
		margin-right: auto;
		border-radius: 20px;
		width: 180px;
		height: 180px;
		margin-bottom: 20px;
	}
}